html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #F5E9BE;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    padding-left: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 80%;
    max-width: 1260px;
    height: 50px;
    background-color: #174C4F;
    margin: auto;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #174C4F;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: color 0.8s ease;
    color: #FF9666;
}

.postForm {
    border: 2px solid #174C4F;
    width: 300px;
    margin-top:0px;
    padding-top:10px;
    background-color: #174C4F;
    border-bottom-right-radius: 4px;
    padding: 6px;
    width: 80%;
    max-width: 1260px;
    position: relative;
    margin: auto;
    top: 2px;
}

.postForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    margin-right: 20px;
    color: white;
}

#postContents{
    width: 85%;
    height: 90px;
}

.postForm input[type=text] {
    
}

.makePostSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #E26A6A;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makePostSubmit:link, .makePostSubmit:visited, .makePostSubmit:hover, .makePostSubmit:active {
    color: white;
}

.makePostSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #174C4F;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #174C4F;
    border-radius: 2px;
    border-color: #174C4F;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    background-color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #E26A6A;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#postMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#postMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#post {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#posts {
    width: 80%;
    max-width: 1260px;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 25px;
}

.post {
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #FF9666;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

h3.emptyPost {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.postName {
    width: 200px;
    color: white;
    font-weight: bold;
    padding-left: 6px;
    font-size: 2em;
}

.edit{
    float: right;
    font-size: 1.6em;
}

div.postContents {
    padding-left: 6px;
    margin-top: 0px;
    text-align: left;
    width: 100%;
    padding-right: 40px;
    font-size: 1.2em;
    padding: 10px;
}

.post:first-child {
    margin-top: 10px;
}

.post:last-child {
    margin-bottom:10px;
}

.account{
    text-align: center;
    position: relative;
    top: 20px;
    width: 80%;
    max-width: 1260px;
    margin: auto;
}
.account label{
    font-size: 1.2em;
}

.account input{
    text-align: center;
    margin-bottom: 1em;
    font-size: 1em;
}
